/* ------------------------------------ */
/*				   Less					*/
/* This is your Less entry file			*/
/* ------------------------------------ */

.window-content.non-resizable {
  padding: 0;
}


.window-content.resizable {
  position: relative;
  overflow: hidden;
  padding: 0;
  .react-target {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.upgrade-note {
  display: block;
}

.gotcha-box {
  background-color: rgba(0,0,0,0.1);
  border-radius: 0.5em;
  padding: 0.2em;
  margin-top: 1em;
  input[type=checkbox] {
    vertical-align: sub;
  }
}